@{
}

<div class="col-10">
    <div class="px-3">
        <div class="bg-white item-style mb-5">
            <!-- ===============================================================================================================  -->
            <div class="">
                <div class="card-header py-3 mb-3">
                    <h3 class="m-0">留言管理</h6>
                </div>
                <div class="row justify-content-center p-3">
                    <div class="mb-3  col-12">
                        <form>
                            <fieldset>
                                <legend>查詢條件</legend>
                                <div class="d-flex py-3">
                                    <div class="pr-3" style="font-size: 24px;">
                                        選擇題案名稱:
                                    </div>
                                    <select name="" id="productselect"
                                            v-on:change="changegetcomment">
                                        <option v-cloak
                                                v-for="item in productlist.filter(x=>x.productStateId == 3)"
                                                :value="item.productId">{{item.productTitle}}</option>
                                    </select>
                            </fieldset>
                        </form>
                    </div>
                    <div class=" col-10">
                        <div class="row mb-2 py-3" style="border-bottom: 1px black solid;">
                            <div v-cloak class="col-4">
                                <img :src="productcomment.coverphoto" alt=""
                                     class="img-fluid">
                            </div>
                            <div class="col-8">
                                <h3>提案標題:<span v-cloak>{{productcomment.productTitle}}</span></h3>
                                <p v-cloak>提案人:{{productcomment.principalName}}</p>
                                <p v-cloak>{{productcomment.comcount}}則留言</p>
                            </div>
                        </div>
                        <div v-if="productcomment.comments == 0">暫時沒有留言</div>
                        <div class="row mb-3" style="border-bottom: 1px solid black;"
                             v-for="comitem in productcomment.comments">
                            <div class="col-12">
                                <div class="row">

                                    <div v-cloak class="col-1">
                                        <img :src="comitem.comuser.userPhoto"
                                             alt="" class="rounded-circle border imgset">
                                    </div>
                                    <div class="col-9">
                                        <div class="d-flex justify-content-between">
                                            <h4 v-cloak>{{comitem.comuser.userName}}</h4>
                                            <p v-cloak>{{comitem.commenttime}}</p>
                                        </div>
                                        <div v-cloak class="mb-2">{{comitem.commentContent}}</div>
                                    </div>
                                    <div v-cloak class="col-2 text-right">
                                        <a class="btn btn-danger"
                                           v-on:click="setdeletecom(comitem)" data-toggle="modal"
                                           data-target="#deletecomment">刪除留言</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-11">
                                <div>
                                    <a class="" href="#" data-toggle="collapse"
                                       :data-target=`#ci${comitem.commentId}`
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        <span v-cloak>{{comitem.anscount}}則回覆</span>
                                    </a>
                                </div>
                                <div v-for=" ansitem in comitem.answers">
                                    <div :id=`ci${comitem.commentId}` class="collapse"
                                         aria-labelledby="headingTwo"
                                         data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 row">
                                            <div class="col-1">
                                                <img :src="ansitem.ansUser.userPhoto"
                                                     alt="" class="rounded-circle border imgset">
                                            </div>
                                            <div class="col-9">
                                                <div class="d-flex justify-content-between">
                                                    <h5 v-cloak>{{ansitem.ansUser.userName}}</h5>
                                                    <p v-cloak>{{ansitem.answerTime}}</p>
                                                </div>
                                                <div v-cloak>{{ansitem.answerContent}}</div>
                                            </div>
                                            <div v-cloak class="col-2 text-right">
                                                <a data-toggle="modal" data-target="#deleteanswer"
                                                   class="btn btn-danger"
                                                   v-on:click="setdeleteans(ansitem)">刪除回覆</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>

            <!-- ===============================================================================================================  -->

        </div>
        <!-- Modal -->
        <div class="modal fade " id="deletecomment" tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">您即將刪除留言</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex">
                        <div v-cloak>{{deletecom.commentContent}}</div>
                        <div v-cloak>{{deletecom.commenttime}}</div>

                    </div>
                    <div class="text-right">注意!此留言的回覆會一併刪除</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            返回
                        </button>
                        <button type="button" class="btn btn-danger"
                                v-on:click="deletecomapi(deletecom.commentId)"
                                data-dismiss="modal">
                            刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade " id="deleteanswer" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 400px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">您即將刪除回覆</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body d-flex">
                        <div v-cloak>{{deleteans.answerContent}}</div>
                        <div v-cloak>{{deleteans.answerTime}}</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">
                            返回
                        </button>
                        <button type="button" class="btn btn-danger"
                                v-on:click="deleteansapi(deleteans.answerId)"
                                data-dismiss="modal">
                            刪除
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>