@{
}
<div class="col-10">
	<div class="px-3">
		<div class="bg-white item-style mb-5">
			<!-- ===============================================================================================================  -->
			<div class="card-header py-3 mb-3">
				<h3 class="m-0">基本資料</h6>
			</div>
			<div class="row justify-content-center p-5 ">
				<div class="col-6">
					<form class="">
						<div class="row justify-content-around">
							<div class="col-5 ">
								<div class="text-center " style="">
									<label for="myImgInput" class="btn p-0" style="border-radius: 50%;">
										<img :src="employeeinfo.employeephoto" alt=""
											 style="height: 150px; width: 150px; border: 1px silver solid ;border-radius: 50%;"
											 class="d-block mx-auto imgset " id="myImg">
									</label> <br>
									<!-- <label for="myImgInput" class="btn"
										style="height: 150px; width: 150px; border: 1px silver solid ;border-radius: 50%; position: absolute; top: 0px; left: 50%; transform: translate(-50%, 0%); display: none"> <p><i class="fa-camera"></i></p>  </label> -->
									<input type="file" name="" id="myImgInput" class="pb-3"
										   v-on:change="readURL" accept="image/jpeg,image/png"
										   style="max-width: 80px;">
								</div>
								<h3 class="p-0 text-center" v-cloak>{{newemployeeinfo.name}}</h3>
								<label for="">帳號:</label> <br>
								<input type="text" name="" id="" class="w-100" disabled
									   v-model="newemployeeinfo.account"> <br>
								<label for="">密碼:</label> <br>
								<input type="password" name="" id="" class="w-100"
									   v-model="newemployeeinfo.password">
							</div>
							<div class="col-5 d-flex flex-column justify-content-end">
								<label for="">Email</label>
								<input type="text" class="w-100" v-model="newemployeeinfo.email">
								<label for="">電話</label>
								<input type="text" class="w-100" v-model="newemployeeinfo.phone">
								<label for="">性別</label>
								<input type="text" class="w-100" disabled
									   v-model="newemployeeinfo.sexy">
								<label for="">職位</label>
								<input type="text" class="w-100" disabled
									   v-model="newemployeeinfo.position">
								<label for="">在職狀態</label>
								<input type="text" class="w-100" disabled
									   v-model="newemployeeinfo.status">
							</div>


							<div class="col-12 text-center mt-3">
								<button name="submit" type="submit" class="btn btn-primary px-5 "
										v-on:click="updataprofile">
									提交
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- ===============================================================================================================  -->
	</div>
</div>